.cache/
data/
data_general/
weibo/
.idea/
processing/.ipynb_checkpoints/
processing/figures/
processing/df/

*.tmp
*.pyc
*.log
*.csv
*id_list*.txt
*.pkl
user_id_list*.txt
processing/translator*.json

crawl_todo_list.db
config.json
proxy.json
cookie.txt
.DS_Store
